html, body {
    font-size: 17px;
    min-height: 100vh;
    background: linear-gradient(#b6bbc3, #94aee6);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background: #617275;
    padding: 20px 30px;
    box-shadow:0px 3px 6px 0px #373a39;
}
.nav {
    max-width: 840px;
    margin: 0 auto;
}
.menu {
    text-align: center;
}
.menu__item {
    display: inline-block;
    margin: 0 20px;
}
.menu_link {
    text-decoration: none;
    color: #5ac5e9;
}